/* _baseStyles.scss */

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
}

html {
    color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $raleway;
    line-height: 24px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

p {
    margin: 0;
}

// html {
//     font-family: 'Barlow', sans-serif;
//     font-size: 125%;
//     color: var(--white);
// }

// p {
//     font-family: 'offside', regular;
//     line-height: 30px;
//     letter-spacing: 0.2px;
// }


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


section {
    padding: 100px;
}

a {
    text-decoration: none;
    color: $black;
}