/* _baseStyles.scss */

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
}

img {
    width: 100%;
    display: block;
}

html {
    color: $black;
}

header {
    background-size: cover;
    min-height: 100vh;
    // margin-bottom: 30px;
}

.blogHeader {
    background: url("../assets/blog-1.jpeg") center no-repeat;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $primary;
    line-height: 24px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

p {
    margin: 0;
}



ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


section {
    padding: 100px;
}

a {
    text-decoration: none;
    color: $black;
}