/* _baseStyles.scss */

.wrapper {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
}

section {
    padding: 100px;
    margin-bottom: 30px;
}

img {
    width: 100%;
    display: block;
}

html {
    color: $blackTwo;
    font-size: 125%;
}

header {
    min-height: 100vh;
    width: 100%;
    position: relative;

    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px;

        @media (min-width: 1100px) and (max-width: 1280px) {
            flex-direction: column;
            justify-content: center;
            gap: 10px;
        }

        h1 {
            font-size: 46px;
        }

        .burgerMenu {
            font-size: 30px;

            @media (min-width: 1100px) {
                display: none;
            }
        }

        input#toggle {
            display: none;
        }

        //SLIDE MENU
        ul.navigation {
            display: block;
            position: fixed;
            width: 70%;
            background-color: #000;
            top: 0;
            bottom: 0;
            margin: 0;
            padding: 0;
            right: -70%;
            z-index: 9;
            transition: all 0.5s;
            -webkit-transition: all 0.5s;



            @media (min-width: 1100px) and (max-width: 1280px) {
                width: 100%;
            }



            li a {
                display: block !important;
            }

            li {
                text-align: center;
                padding: 20px;

                a {
                    font-family: $primary;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 20px;
                    color: $white;
                    padding: 0;
                }

            }

            li.shoppingBag {
                position: relative;
                width: fit-content;
                padding: 0;
                margin: 20px auto;

                .greenCircle {
                    height: 20px;
                    width: 20px;
                    background-color: $brightGreen;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: 15px;
                    left: 5px;

                    .numberOnTop {
                        font-family: $primary;
                        color: $white;
                    }
                }
            }


            @media (min-width: 1100px) {
                display: flex;
                position: unset;
                background: transparent;
                justify-content: center;



                li {
                    display: inherit;
                    padding: 20px;

                    a {
                        color: black;
                        padding: 0;
                    }

                }

                li.shoppingBag {
                    margin: 20px;
                }
            }

            @media (min-width: 1280px) {
                justify-content: end;
            }

            .closeMenu {
                color: white;
                text-align: right;
                padding-top: 15px;
                padding-right: 50px;
                cursor: pointer;

                @media (min-width: 1100px) {
                    display: none;
                }
            }
        }

        /* When Menu button is checked, put navigation on the right */
        input#toggle:checked~ul.navigation {
            right: 0;
        }

        input#toggle {
            display: none;
        }

        //ELIMINAR NAVIGATION???
        // @media (min-width: 900px) and (max-width: 1378px) {
        //     ul.navigation {
        //         display: none;
        //     }
        // }
    }
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: $primary;
    line-height: 24px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


a {
    text-decoration: none;
    color: $black;
}

.socialIconsList {
    display: flex;
    margin-top: 15px;
    justify-content: left;
}

.italicParagraph {
    font-style: italic;
}

li a {
    color: $white;
    padding: 20px;
}

.greenButton {
    background-color: $brightGreen;
    border: none;
    text-transform: uppercase;
    color: $white;
    padding: 17px 30px;
    margin-top: 40px;
    cursor: pointer;
}

.emailInput {
    position: relative;
    margin-top: 20px;
}

.arrowButton {
    position: absolute;
    right: 0;
    background-color: #539908;
    border: none;
    top: 0;
    bottom: 0;
    padding: 10px;

    a {
        color: $white;
    }

}