.blogHeader {
    background: url("../assets/blog-1.jpeg") center no-repeat;
    background-size: cover;
}

main.blogMain {
    .blogSection {
        padding: 30px;
        margin-bottom: 0;
    }

    h2 {
        font-size: 25px;
        text-align: left;
        margin-top: 90px;
        margin-bottom: 10px;
    }

    h4 {
        text-align: left;
        margin-top: 25px;
        margin-bottom: 20px;
    }

    p {
        text-align: left;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 16px;
        margin-top: 20px;
    }

    .borderBottom {
        border-bottom: 1px solid $lightGray;
        padding-top: 20px;
    }

    .postInfo {
        font-family: $primary;
    }

    .boldTitle {
        font-family: "Raleway", sans-serif;
        font-weight: bold;

    }

    .lineBreakDesktop {
        display: none;
    }

    .tagsAndShare {

        .shareParagraph {
            display: inline-block;
        }

        .socialIconsContainer {
            display: inline-block;

            li a {
                color: $darkGrey;
                padding: 20px;
            }
        }
    }

    .featuredAuthor {
        display: flex;
        flex-direction: column;

        .imageContainer {
            flex-shrink: 0;
            margin-bottom: 35px;
        }

        .authorBio {
            width: 100%;
            height: 100%;
            background-color: $lightGray;
            padding: 1px 20px;
        }
    }


    .postImage {
        margin-bottom: 30px;
    }

    h3.mobileOnly {
        font-size: 14px;
    }

    .firstComment,
    .secondComment {
        display: flex;
        flex-direction: column;

        .imageCommentContainer {
            flex-shrink: 0;
        }

        .commentContent {
            width: 100%;
            height: 100%;
            background-color: $lightGray;
            padding: 0 15px;
            position: relative;

            &.arrowBox {
                margin-top: 40px;

                &:after {
                    content: " ";
                    position: absolute;
                    right: 30px;
                    top: -15px;
                    border-top: none;
                    border-right: 15px solid transparent;
                    border-left: 15px solid transparent;
                    border-bottom: 15px solid $lightGray;
                }
            }

            &.commentContentTop {
                margin-bottom: 50px;
            }

            .commentsName,
            .titleCommentsName {
                display: inline-block;
                margin-bottom: 0;
            }

            .commentsName {
                text-transform: none;
                font-size: 18px;
                line-height: 36px;
                letter-spacing: 0.5px;
            }
        }
    }



    .commentForm {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .commentItem1 {
            flex: 1;
        }

        .commentItem2 {
            flex-basis: 100%;
        }

        .commentItem1,
        .commentItem2 {
            font-family: $secondary;
            padding: 10px;
        }

        .greenButton {
            margin-top: 0;
            margin-bottom: 100px;
        }
    }
}

.blogOnly {
    display: none;
}


@media (min-width: 800px) {

    main.blogMain {

        section {
            padding: 50px;
        }

        .lineBreakDesktop {
            display: block;
        }

        .featuredAuthor {
            flex-direction: row;
            gap: 40px;
            padding-bottom: 35px;

            .imageContainer {
                margin-bottom: 0;
                // flex-basis: 20%;
            }

            .authorBio {
                // flex-basis: 80%;
                padding: 18px 46px;
            }
        }

        .relatedPostContainer {
            display: flex;
            gap: 30px;

            .postImageItem {
                flex: 1;
            }
        }

        .firstComment,
        .secondComment {
            // display: flex;
            flex-direction: row;
            gap: 34px;

            // .imageCommentContainer {
            //     flex-shrink: 0;
            // }

            .commentContent {
                // width: 100%;
                // height: 100%;

                &.arrowBox {
                    margin-top: 0;

                    &:after {
                        content: " ";
                        position: absolute;
                        right: 976px;
                        top: 15px;
                        border-top: 15px solid transparent;
                        border-right: 15px solid $lightGray;
                        border-left: none;
                        border-bottom: 15px solid transparent;
                    }
                }
            }
        }
    }

}