footer {
    background-color: $blackTwo;

    .footerContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        .footerOne,
        .footerThree {
            display: flex;
            flex-direction: column;
            align-items: center;

            h4,
            h5 {
                letter-spacing: 0.5px;
            }

            h4 {
                font-size: 18px;
                color: $brightGreen;
                margin-top: 30px;
            }

            h5 {
                color: $white;
                margin-top: 20px;
            }

            // .desktopOnly {
            //     display: none;
            // }

            input {
                background-color: $darkGrey;
                border: none;
                padding: 10px;
                width: 200px;
            }

            input::placeholder {
                color: $white;
                font-family: $secondary;
                font-style: italic;
            }

            .socialIcons {
                border-top: 0.5px solid $brownGrey;
                margin-top: 15px;
                width: 200px;

            }

        }

        .footerTwo {
            display: none;
        }
    }

    p {
        font-family: $secondary;
        color: $white;
        font-size: 13px;
        line-height: 25px;
        letter-spacing: 0.3px;
        text-align: center;
    }

    .copyright {
        background-color: $black;

        p {
            line-height: 44px;
            margin-top: 20px;
        }

        span {
            text-transform: uppercase;
            color: $brightGreen;
        }
    }
}

// MEDIA QUERY

@media (min-width: 800px) {
    footer {
        .footerContainer {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .footerOne,
            .footerTwo,
            .footerThree {
                align-items: flex-start;
                display: flex;
                flex-direction: column;

                .desktopOnly {
                    display: flex;
                }

                h5 {
                    letter-spacing: 0.5px;
                    margin-top: 30px;
                    color: $white;
                }

                p {
                    font-family: $secondary;
                    color: $white;
                    font-size: 13px;
                    // line-height es diferente que abajo
                    line-height: 44px;
                    letter-spacing: 0.3px;
                    // border-bottom: 0.5px solid $brownGrey;
                    // margin-top: 15px;
                    // width: 200px;
                    // NO ME AGARRA!!!!!!!!!!!!!!
                    text-align: left;
                }
            }
        }

        .copyright {
            max-width: 1080px;
            width: 90%;
            margin: 0 auto;

            // THIS IS A P TBN. NECESITA CLASE?????????
            .copyrightParagraph {
                text-align: left;
            }

        }
    }
}