.homeHeader {
    background: url("../assets/home-1.jpeg") center no-repeat;
    background-size: cover;
}

main.homeMain {

    .topContent,
    .bottomContent,
    .ourRestaurants,
    .hungryClients {
        padding: 30px;
    }

    p {
        text-align: center;
    }

    section {
        padding: 0;

        h2 {
            font-size: 25px;
            text-align: center;
            position: relative;
            margin-top: 25px;
            margin-bottom: 40px;


            &::after {
                content: "";
                border: 2px solid $brightGreen;
                position: absolute;
                width: 50px;
                bottom: -20px;
                left: 50%;
                transform: translateX(-50%);

            }
        }

        .bottomContent {
            background-color: $lightGray;

            li {
                padding: 20px 55px;
                position: relative;

                i {
                    position: absolute;
                    font-size: 25px;
                    left: 13px;
                }

                h4 {
                    margin-bottom: 10px;
                }

                p.menuItem {
                    text-align: left;
                }
            }

        }
    }

    .ourRestaurants,
    .hungryClients {

        // NOT SURE ABOUT ALL THIS IMAGE PART
        .restaurantImageContainer {
            position: relative;

            .fancyStamp {
                position: absolute;
                width: 35%;
                bottom: 95px;
                left: 180px;
            }
        }

        p.quote {
            font-size: 18px;
            font-style: italic;
            text-align: center;
            line-height: 36px;
            letter-spacing: 0.6px;

            i {
                font-size: 25px;
                color: white;
            }
        }

    }

    .gallery,
    .hungryClients {
        margin-bottom: 0;
    }

    .hungryClients {
        background-color: $lightGreen;
    }
}

// MEDIA QUERY

@media (min-width: 800px) {
    main.homeMain {
        .popularRecipes {
            display: flex;
            flex-wrap: wrap;

            .topPopularRecipes {
                display: flex;
            }

            .topContent {
                flex-basis: 50%;
                margin: 150px auto;

            }

            .topImage {
                flex-basis: 50%;
            }

            .bottomPopularRecipes {
                display: flex;

                .bottomContent {
                    order: 2;

                    ul.menuList {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;

                        li {
                            padding: 0;
                            margin: 60px 45px;
                            width: calc((100% / 2) - 110px);

                            i {
                                left: -45px;
                            }
                        }
                    }
                }

                .bottomContent,
                .bottomImage {
                    flex-basis: 50%;
                }
            }
        }

        .imagesGallery {
            display: flex;
            flex-wrap: wrap;
        }
    }


}