@media (min-width: 800px) {
    header {
        .navBar .burgerMenu {
            display: none;
        }

        .navBar .navigation {
            display: flex;
            gap: 20px;

            li a {
                text-transform: uppercase;

            }
        }

    }

    footer {
        .footerContainer {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .footerOne,
            .footerTwo,
            .footerThree {
                align-items: flex-start;
                display: flex;
                flex-direction: column;

                .desktopOnly {
                    display: flex;
                }

                h5 {
                    letter-spacing: 0.5px;
                    margin-top: 10px;
                    color: $white;
                }

                p {
                    font-family: $lora;
                    color: $white;
                    font-size: 13px;
                    // line-height es diferente que abajo
                    line-height: 44px;
                    letter-spacing: 0.3px;
                    // border-bottom: 0.5px solid $brownGrey;
                    // margin-top: 15px;
                    // width: 200px;
                    // NO ME AGARRA!!!!!!!!!!!!!!
                    text-align: left;
                }


                .social-icons-list {
                    justify-content: flex-start;
                }
            }
        }

        .copyright {
            max-width: 1080px;
            width: 90%;
            margin: 0 auto;

            // THIS IS A P TBN. NECESITA CLASE?????????
            .copyrightParagraph {
                text-align: left;
            }

        }
    }

}