header {
    background: url("../assets/home-1.jpeg") center no-repeat;

    .navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;

        h1 {
            font-size: 46px;
        }

        .burgerMenu {
            font-size: 30px;

        }

        .navigation {
            display: none;
        }
    }
}