/* import Lora Sans font */
@font-face {
    font-family: 'Lora', serif;
    src: url('../../../fonts/Lora/Lora-VariableFont_wght.ttf');
    font-weight: regular;
}

@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('../../../fonts/Raleway/Raleway-VariableFont_wght.ttf');
    font-weight: bold;
}