html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* import Lora Sans font */
@font-face {
  font-family: "Lora", serif;
  src: url("../../../fonts/Lora/Lora-VariableFont_wght.ttf");
  font-weight: regular;
}
@font-face {
  font-family: "Raleway", sans-serif;
  src: url("../../../fonts/Raleway/Raleway-VariableFont_wght.ttf");
  font-weight: bold;
}
/* _baseStyles.scss */
.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 100px;
  margin-bottom: 30px;
}

img {
  width: 100%;
  display: block;
}

html {
  color: #333333;
  font-size: 125%;
}

header {
  min-height: 100vh;
  width: 100%;
  position: relative;
}
header .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  /* When Menu button is checked, put navigation on the right */
}
@media (min-width: 1100px) and (max-width: 1280px) {
  header .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
}
header .navBar h1 {
  font-size: 46px;
}
header .navBar .burgerMenu {
  font-size: 30px;
}
@media (min-width: 1100px) {
  header .navBar .burgerMenu {
    display: none;
  }
}
header .navBar input#toggle {
  display: none;
}
header .navBar ul.navigation {
  display: block;
  position: fixed;
  width: 70%;
  background-color: #000;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  right: -70%;
  z-index: 9;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
@media (min-width: 1100px) and (max-width: 1280px) {
  header .navBar ul.navigation {
    width: 100%;
  }
}
header .navBar ul.navigation li a {
  display: block !important;
}
header .navBar ul.navigation li {
  text-align: center;
  padding: 20px;
}
header .navBar ul.navigation li a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #F6F6F6;
  padding: 0;
}
header .navBar ul.navigation li.shoppingBag {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  margin: 20px auto;
}
header .navBar ul.navigation li.shoppingBag .greenCircle {
  height: 20px;
  width: 20px;
  background-color: #539908;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 15px;
  left: 5px;
}
header .navBar ul.navigation li.shoppingBag .greenCircle .numberOnTop {
  font-family: "Raleway", sans-serif;
  color: #F6F6F6;
}
@media (min-width: 1100px) {
  header .navBar ul.navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: unset;
    background: transparent;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .navBar ul.navigation li {
    display: inherit;
    padding: 20px;
  }
  header .navBar ul.navigation li a {
    color: black;
    padding: 0;
  }
  header .navBar ul.navigation li.shoppingBag {
    margin: 20px;
  }
}
@media (min-width: 1280px) {
  header .navBar ul.navigation {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}
header .navBar ul.navigation .closeMenu {
  color: white;
  text-align: right;
  padding-top: 15px;
  padding-right: 50px;
  cursor: pointer;
}
@media (min-width: 1100px) {
  header .navBar ul.navigation .closeMenu {
    display: none;
  }
}
header .navBar input#toggle:checked ~ ul.navigation {
  right: 0;
}
header .navBar input#toggle {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Raleway", sans-serif;
  line-height: 24px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #2E2E2E;
}

.socialIconsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.italicParagraph {
  font-style: italic;
}

li a {
  color: #F6F6F6;
  padding: 20px;
}

.greenButton {
  background-color: #539908;
  border: none;
  text-transform: uppercase;
  color: #F6F6F6;
  padding: 17px 30px;
  margin-top: 40px;
  cursor: pointer;
}

.emailInput {
  position: relative;
  margin-top: 20px;
}

.arrowButton {
  position: absolute;
  right: 0;
  background-color: #539908;
  border: none;
  top: 0;
  bottom: 0;
  padding: 10px;
}
.arrowButton a {
  color: #F6F6F6;
}

.homeHeader {
  background: url("../assets/home-1.jpeg") center no-repeat;
  background-size: cover;
}

main.homeMain .topContent,
main.homeMain .bottomContent,
main.homeMain .ourRestaurants,
main.homeMain .hungryClients {
  padding: 30px;
}
main.homeMain p {
  text-align: center;
}
main.homeMain section {
  padding: 0;
}
main.homeMain section h2 {
  font-size: 25px;
  text-align: center;
  position: relative;
  margin-top: 25px;
  margin-bottom: 40px;
}
main.homeMain section h2::after {
  content: "";
  border: 2px solid #539908;
  position: absolute;
  width: 50px;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
main.homeMain section .greenButton {
  margin: 40px auto;
  display: block;
}
main.homeMain section .bottomContent {
  background-color: #f2f2f2;
}
main.homeMain section .bottomContent li {
  padding: 20px 50px;
  position: relative;
}
main.homeMain section .bottomContent li i {
  position: absolute;
  font-size: 25px;
  left: 13px;
}
main.homeMain section .bottomContent li h4 {
  margin-bottom: 10px;
}
main.homeMain section .bottomContent li p.menuItem {
  text-align: left;
}
main.homeMain .ourRestaurants .restaurantImageContainer,
main.homeMain .hungryClients .restaurantImageContainer {
  position: relative;
}
main.homeMain .ourRestaurants .restaurantImageContainer .fancyStamp,
main.homeMain .hungryClients .restaurantImageContainer .fancyStamp {
  position: absolute;
  width: 95px;
  top: -55px;
  right: -35px;
}
main.homeMain .ourRestaurants p.quote,
main.homeMain .hungryClients p.quote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
  line-height: 36px;
  letter-spacing: 0.6px;
}
main.homeMain .ourRestaurants p.quote i,
main.homeMain .hungryClients p.quote i {
  font-size: 25px;
  color: white;
}
main.homeMain .gallery,
main.homeMain .hungryClients {
  margin-bottom: 0;
}
main.homeMain .hungryClients {
  background-color: #DDED9A;
}

@media (min-width: 900px) {
  main.homeMain .popularRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main.homeMain .popularRecipes .topPopularRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  main.homeMain .popularRecipes .topContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main.homeMain .popularRecipes .topImage {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 45px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent ul.menuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent ul.menuList li {
    padding: 0;
    margin: 17px 50px;
    width: calc(50% - 100px);
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent ul.menuList li i {
    left: -45px;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent,
main.homeMain .popularRecipes .bottomPopularRecipes .bottomImage {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomImage {
    -ms-flex-negative: unset;
        flex-shrink: unset;
  }
  main.homeMain .restaurantImageContainer {
    width: 440px;
    margin: 65px auto;
  }
  main.homeMain .imagesGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main.homeMain .imagesGallery li.imageGallery {
    -ms-flex-preferred-size: 33.3333333333%;
        flex-basis: 33.3333333333%;
  }
}
@media (min-width: 900px) and (max-width: 1378px) {
  main.homeMain .popularRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  main.homeMain .popularRecipes .topImage img,
main.homeMain .popularRecipes .bottomImage img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main.homeMain .popularRecipes .topPopularRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  main.homeMain .popularRecipes .topContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main.homeMain .popularRecipes .topImage {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 45px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 50%;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent ul.menuList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomContent ul.menuList li {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding: 0;
    margin: 17px 50px;
    min-width: 33%;
  }
  main.homeMain .popularRecipes .bottomPopularRecipes .bottomImage {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.blogHeader {
  background: url("../assets/blog-1.jpeg") center no-repeat;
  background-size: cover;
}

main.blogMain .blogSection {
  padding: 30px;
  margin-bottom: 0;
}
main.blogMain h2 {
  font-size: 25px;
  text-align: left;
  margin-top: 90px;
  margin-bottom: 10px;
}
main.blogMain h4 {
  text-align: left;
  margin-top: 25px;
  margin-bottom: 20px;
}
main.blogMain p {
  text-align: left;
  margin-bottom: 20px;
}
main.blogMain h3 {
  font-size: 16px;
  margin-top: 20px;
}
main.blogMain .borderBottom {
  border-bottom: 1px solid #f2f2f2;
  padding-top: 20px;
}
main.blogMain .postInfo {
  font-family: "Raleway", sans-serif;
}
main.blogMain .boldTitle {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
main.blogMain .lineBreakDesktop {
  display: none;
}
main.blogMain .tagsAndShare .shareParagraph {
  display: inline-block;
}
main.blogMain .tagsAndShare .socialIconsContainer {
  display: inline-block;
}
main.blogMain .tagsAndShare .socialIconsContainer li a {
  color: #535353;
  padding: 20px;
}
main.blogMain .featuredAuthor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main.blogMain .featuredAuthor .imageContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 35px;
}
main.blogMain .featuredAuthor .authorBio {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 1px 20px;
}
main.blogMain .postImage {
  margin-bottom: 30px;
}
main.blogMain h3.mobileOnly {
  font-size: 14px;
}
main.blogMain .firstComment,
main.blogMain .secondComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main.blogMain .firstComment .imageCommentContainer,
main.blogMain .secondComment .imageCommentContainer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
main.blogMain .firstComment .commentContent,
main.blogMain .secondComment .commentContent {
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 0 15px;
  position: relative;
}
main.blogMain .firstComment .commentContent.arrowBox,
main.blogMain .secondComment .commentContent.arrowBox {
  margin-top: 40px;
}
main.blogMain .firstComment .commentContent.arrowBox:after,
main.blogMain .secondComment .commentContent.arrowBox:after {
  content: " ";
  position: absolute;
  right: 30px;
  top: -15px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #f2f2f2;
}
main.blogMain .firstComment .commentContent.commentContentTop,
main.blogMain .secondComment .commentContent.commentContentTop {
  margin-bottom: 50px;
}
main.blogMain .firstComment .commentContent .commentsName,
main.blogMain .firstComment .commentContent .titleCommentsName,
main.blogMain .secondComment .commentContent .commentsName,
main.blogMain .secondComment .commentContent .titleCommentsName {
  display: inline-block;
  margin-bottom: 0;
}
main.blogMain .firstComment .commentContent .commentsName,
main.blogMain .secondComment .commentContent .commentsName {
  text-transform: none;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.5px;
}
main.blogMain .commentForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
main.blogMain .commentForm .commentItem1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main.blogMain .commentForm .commentItem2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
main.blogMain .commentForm .commentItem1,
main.blogMain .commentForm .commentItem2 {
  font-family: "Lora", serif;
  padding: 10px;
}
main.blogMain .commentForm .greenButton {
  margin-top: 0;
  margin-bottom: 100px;
}

.blogOnly {
  display: none;
}

@media (min-width: 800px) {
  main.blogMain section {
    padding: 50px;
  }
  main.blogMain .lineBreakDesktop {
    display: block;
  }
  main.blogMain .featuredAuthor {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 40px;
    padding-bottom: 35px;
  }
  main.blogMain .featuredAuthor .imageContainer {
    margin-bottom: 0;
  }
  main.blogMain .featuredAuthor .authorBio {
    padding: 18px 46px;
  }
  main.blogMain .relatedPostContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  main.blogMain .relatedPostContainer .postImageItem {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  main.blogMain .firstComment,
main.blogMain .secondComment {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 34px;
  }
  main.blogMain .firstComment .commentContent.arrowBox,
main.blogMain .secondComment .commentContent.arrowBox {
    margin-top: 0;
  }
  main.blogMain .firstComment .commentContent.arrowBox:after,
main.blogMain .secondComment .commentContent.arrowBox:after {
    content: " ";
    position: absolute;
    right: 976px;
    top: 15px;
    border-top: 15px solid transparent;
    border-right: 15px solid #f2f2f2;
    border-left: none;
    border-bottom: 15px solid transparent;
  }
}
.contactHeader {
  background: url("../assets/contact-1.jpeg") center no-repeat;
  background-size: cover;
}

main.contactMain section {
  padding: 30px;
  margin-bottom: 0;
}
main.contactMain h4 {
  text-align: left;
  margin-top: 60px;
  margin-bottom: 20px;
}
main.contactMain p {
  text-align: left;
  margin-bottom: 20px;
}
main.contactMain .messageForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
main.contactMain .messageForm .messageItem1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
main.contactMain .messageForm .messageItem2 {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
main.contactMain .messageForm .messageItem1,
main.contactMain .messageForm .messageItem2 {
  background-color: #f2f2f2;
  border: none;
  font-family: "Lora", serif;
  padding: 10px;
}
main.contactMain .messageForm .transparentButton {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color: #539908;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}
main.contactMain .messageForm i.fa-right-long {
  position: absolute;
  left: 170px;
  color: #539908;
  font-weight: bold;
}
main.contactMain .contactDetails {
  background-color: #f2f2f2;
}
main.contactMain .contactDetails h5 {
  margin-top: 45px;
  margin-bottom: 10px;
}
main.contactMain .contactDetails .monFriParagraph {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}
main.contactMain .contactDetails .hours {
  text-transform: none;
  font-weight: normal;
}
main.contactMain .backgroundImage {
  background: url("../assets/contact-2.jpeg") center no-repeat;
  background-size: cover;
  height: 630px;
  width: 100%;
}

@media (min-width: 800px) {
  .messageContactContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .messageContactContainer .messageUsForm {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .messageContactContainer .contactDetails {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
footer {
  background-color: #333333;
}
footer .footerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}
footer .footerContainer .footerOne,
footer .footerContainer .footerThree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .footerContainer .footerOne h4,
footer .footerContainer .footerOne h5,
footer .footerContainer .footerThree h4,
footer .footerContainer .footerThree h5 {
  letter-spacing: 0.5px;
}
footer .footerContainer .footerOne h4,
footer .footerContainer .footerThree h4 {
  font-size: 18px;
  color: #539908;
  margin-top: 30px;
}
footer .footerContainer .footerOne h5,
footer .footerContainer .footerThree h5 {
  color: #F6F6F6;
  margin-top: 20px;
}
footer .footerContainer .footerOne input,
footer .footerContainer .footerThree input {
  background-color: #535353;
  border: none;
  padding: 10px;
  width: 230px;
}
footer .footerContainer .footerOne input::-webkit-input-placeholder, footer .footerContainer .footerThree input::-webkit-input-placeholder {
  color: #F6F6F6;
  font-family: "Lora", serif;
  font-style: italic;
}
footer .footerContainer .footerOne input::-moz-placeholder, footer .footerContainer .footerThree input::-moz-placeholder {
  color: #F6F6F6;
  font-family: "Lora", serif;
  font-style: italic;
}
footer .footerContainer .footerOne input:-ms-input-placeholder, footer .footerContainer .footerThree input:-ms-input-placeholder {
  color: #F6F6F6;
  font-family: "Lora", serif;
  font-style: italic;
}
footer .footerContainer .footerOne input::-ms-input-placeholder, footer .footerContainer .footerThree input::-ms-input-placeholder {
  color: #F6F6F6;
  font-family: "Lora", serif;
  font-style: italic;
}
footer .footerContainer .footerOne input::placeholder,
footer .footerContainer .footerThree input::placeholder {
  color: #F6F6F6;
  font-family: "Lora", serif;
  font-style: italic;
}
footer .footerContainer .footerOne .socialIcons,
footer .footerContainer .footerThree .socialIcons {
  border-top: 0.5px solid #999999;
  margin-top: 30px;
  width: 230px;
}
footer .footerContainer .footerTwo {
  display: none;
}
footer p {
  font-family: "Lora", serif;
  color: #F6F6F6;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.3px;
  text-align: center;
}
footer .copyright {
  background-color: #2E2E2E;
}
footer .copyright p {
  line-height: 44px;
  margin-top: 20px;
}
footer .copyright span {
  text-transform: uppercase;
  color: #539908;
}

@media (min-width: 800px) {
  footer .footerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .footerContainer .footerOne,
footer .footerContainer .footerTwo,
footer .footerContainer .footerThree {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footerContainer .footerOne .desktopOnly,
footer .footerContainer .footerTwo .desktopOnly,
footer .footerContainer .footerThree .desktopOnly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footerContainer .footerOne h5,
footer .footerContainer .footerTwo h5,
footer .footerContainer .footerThree h5 {
    letter-spacing: 0.5px;
    margin-top: 30px;
    color: #F6F6F6;
  }
  footer .footerContainer .footerOne p,
footer .footerContainer .footerTwo p,
footer .footerContainer .footerThree p {
    font-family: "Lora", serif;
    color: #F6F6F6;
    font-size: 13px;
    line-height: 44px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  footer .copyright {
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
  }
  footer .copyright .copyrightParagraph {
    text-align: left;
  }
}